<background>
  <starttime>
    <year>2018</year>
    <month>1</month>
    <day>1</day>
    <hour>6</hour>
    <minute>0</minute>
    <second>0</second>
  </starttime>
  <!-- It's 08:00, we're showing the day for 10.5 hours till 18:30 -->
  <static>
    <duration>37800.0</duration>
    <file>/usr/share/backgrounds/bluefin/SpringDay.webp</file>
  </static>
  <!-- Day ended and starts to transition to night at 18:30, the transition -->
  <!-- lasts for 2 hours, ending at 20:30 -->
  <transition type="overlay">
    <duration>7200.0</duration>
    <from>/usr/share/backgrounds/bluefin/SpringDay.webp</from>
    <to>/usr/share/backgrounds/bluefin/SpringNight.webp</to>
  </transition>
  <!-- It's 20:30, we're showing the night for 9.5 hours till 06:00 -->
  <static>
    <duration>34200.0</duration>
    <file>/usr/share/backgrounds/bluefin/SpringNight.webp</file>
  </static>
  <!-- It's 06:00, and we're starting to transition to day. Transition -->
  <!-- completes at 08:00 -->
  <transition type="overlay">
    <duration>7200.0</duration>
    <from>/usr/share/backgrounds/bluefin/SpringNight.webp</from>
    <to>/usr/share/backgrounds/bluefin/SpringDay.webp</to>
  </transition>
</background>