[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=xdg-open https://github.com/ublue-os/bluefin/discussions
Icon=/usr/share/ublue-os/discourse.svg
Name=Community
Name[cs]=Komunita
Name[fr]=Communauté
Comment=Bluefin Discussions
Comment[fr]=Discussions autour de Bluefin
Comment[cs]=Diskuze o Bluefinu
Categories=Utility;