name: Validate Flatpaks
permissions:
  contents: read

on:
  pull_request:
    paths:
      - "projects/ublue-os/build_files/iso/**"
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Flathub
        shell: bash
        run: |
          sudo apt install -y flatpak
          flatpak remote-add --user --if-not-exists \
                flathub https://dl.flathub.org/repo/flathub.flatpakrepo

      - name: Validate Flatpaks
        shell: bash
        run: |
          echo "Validating flatpak files in flatpaks directory..."

          set -euxo pipefail

          find "projects/ublue-os/build_files/iso" -iname '*\.list' -print0 | \
            while IFS= read -r -d '' flatpaks_file ; do \
              echo "::group:: ===$(basename "$flatpaks_file")==="
              sed -E 's| *#.*||; g|^$||d' "$flatpaks_file" | \
                while read -r flatpak ; do \
                  flatpak remote-info --user flathub "${flatpak}"
                done
              echo "::endgroup::"
            done
